@using Mvc_cv.Models.Entity
@model List<Tbl_iletisim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        @foreach (var item in Model)
                        {

                            if (item.Okundu_mu == false)
                            {


                                <div class="card-body">

                                    <div class="tab-pane" id="timeline">

                                        <!-- The timeline -->
                                        <div class="timeline timeline-inverse">
                                            <div>
                                                <div class="time-label">
                                                    <span class="bg-cyan">
                                                        @item.Tarih
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- timeline time label -->
                                            <div>
                                                <i class="fas fa-comments bg-warning"></i>
                                                <div class="timeline-item">
                                                    <span class="time"><i class="far fa-clock"></i> </span>
                                                    <h3 class="timeline-header"><a href="#">@item.AdSoyad</a> @item.Mail</h3>
                                                    <div class="timeline-body">
                                                        <h3>@item.Konu</h3>
                                                        @item.Mesaj
                                                    </div>
                                                    <div class="timeline-footer">
                                                        <a href="/Iletisim/Okundu/@item.ID" class="btn btn-warning btn-flat btn-sm">Okundu Olarak İşaretle</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                        }
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
</body>
</html>

