@model Mvc_cv.Models.Entity.Tbl_Yeteneklerim
@{
    ViewBag.Title = "YetenekGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yetenek Güncelleme Sayfası</h2>
<form method="post">
    @Html.Label("Deneyim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek")
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek Oranı")
    @Html.TextBoxFor(x => x.Oran, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Yetenek Güncelle</button>
</form>
